{% capture footer_contents %}
  <b>
  {{ site.first_name }}: {{ site.time | date: '2023-%Y' }}.
  Контакты: <a href="tel:+74958990929">+7 495 899 09 29</a>, 
  <a href="mailto:info@moncloud.ru">info@moncloud.ru</a>
  </b>
  <br/>
  <i><sub>
  {{ site.footer_text }}
  {% if site.impressum_path %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
  {% endif %}
  {% if site.last_updated %}
    Последнее обновление: {{ 'now' | date: '%Y.%m.%d' }}.
  {% endif %}
  </sub></i>
{% endcapture %}

{% if site.footer_fixed %}
  <footer class="fixed-bottom" role="contentinfo">
    <div class="container mt-0">
      {{ footer_contents }}
    </div>
  </footer>
{% else %}
  <footer class="sticky-bottom mt-5" role="contentinfo">
    {% if site.newsletter.enabled %}
      {% include newsletter.liquid %}
    {% endif %}

    <div class="container">
      {{ footer_contents }}
    </div>
  </footer>
{% endif %}
